<h2>About</h2>

<div class="content">

	<p>
		Ever had a problem and felt like the oranisation is not doing their best to help you? 
	</p>
	<p>
	By sharing your problems online we hope to help you resolve your problems sooner rather than later.
	</p>
	<p>
		Your problem shared is an experiment I've made to try to help resolve such problems.
	</p>	

	<p>
	If your company is listed here and you would like it to be removed we suggest treating your customer better.
	</p>

	<p>
		<a href="mailto:info@yourproblemshared.com" class="feature"><span>info@yourproblemshared.com</span></a>
	</p>
	<p>
	In the event you are listed here inappropriately then send us an email to the address listed above. 
	</p>

</div>
