<h2>About</h2>

<div class="content">
	<p>
		YourProblemShared.com is an experiment I've made to try to help people who feel their complaints are being ignored by big companies. 
	</p>	
	<p>
		When you report an issue we will reply with an email containing the link to click when the issue has been resolved.
	</p>
	<p>
		YourProblemShared.com will strip out the email address of the sender but please ensure you remove any details from emails sent to cc@yourproblemshared.com which you would not like to be in the public domain. 
	</p>	
	<p>
		By copying in cc@yourproblemshared.com you agree for us to send you emails about your issue and and other relevant updates.
	</p>	
	<p>
		If you have any questions please email <a href="mailto:simon@yourproblemshared.com">simon@yourproblemshared.com</a>
	</p>	
</div>
