<h2>About</h2>

<div class="content">
	<p>
		YourProblemShared.com is an experiment I've made to try to help people who feel their complaints are being ignored by big companies. 
	</p>	
	<p>
		By copying in cc@yourproblemshared.com you agree for us to send you emails about your issue and and other relevant updates.
	</p>	
</div>
