<h1>About</h1>

<div class="content">
<p>

Ever had a problem and felt like the oranisation is not doing their best to help you?
</p>
<p>
wanted to tell the world about your problem?  Stand outside the shop and warn other people about the company?  
Your problem shared lets you do that with the power of the internet.
</p>
<p>
Your problem shared is a  little experiment I've made to try to help people resolve their problems with companies.
</p>
<p>
Got any more questions? Want a feature? Send your comments to:
</p>
</div>
<a href="mailto:info@yourproblemshared.com" class="feature"><span>info@yourproblemshared.com</span></a>
