<h1>About</h1>
<p>

Ever had a problem and felt like the oranisation is not doing their best to help you?
</p>
<p>
wanted to tell the world about that problem?  Stand outside the shop and warn other people about the company? 
</p>
<p>
Your problem shared lets you do that with the power of the internet.
</p>
<p>
Your problem shared is a  little experiment I've made to try to help people resolve their problems with companies.
</p>




<p>
Got any more questions? Want a feature? Send your comments to <a href="mailto:info@yourproblemshared.com">info@yourproblemshared.com</a>. 
</p>