<h2>About</h2>

<div class="content">

	<p>
		Ever had a problem and felt like the oranisation is not doing their best to help you? 
	</p>
	<p>
	By sharing your problems online we hope to help you resolve your problems sooner.
	</p>
	<p>
		YourProblemShared.com is an experiment I've made to try to help people who feel they are not being listened to by big companies. 
	</p>	
	<p>
		By copying in cc@yourproblemshared.com you agree for us to send you emails about this issue and future feature updates.
	</p>	
</div>
