<h2>Contact</h2>

<div class="content">

<p>
By email:<a href="mailto:info@yourproblemshared.com" class="feature"><span>simon@yourproblemshared.com</span></a>

Or on twitter: <a href="http://twitter.com/urproblemshared" class="feature"><span>@urproblemshared</span></a>
</p>
<p>
All questions welcome. 
</p>
</div>