<h2>Contact</h2>

<div class="content">
<p>
If you find any thing wrong with yourproblemshared.com please let us know.
</p>



<a href="mailto:info@yourproblemshared.com" class="feature"><span>info@yourproblemshared.com</span></a>


</div>