<h1>Contact</h1>

<div class="content">
<p>
If you find any thing wrong with yourproblemshared.com please let us know.
</p>



<a href="mailto:info@yourproblemshared.com" class="feature"><span>info@yourproblemshared.com</span></a>


<p>
If you have any problems or questions we would love to hear from you.
</p>

</div>