<h2>Contact</h2>

<div class="content">
<p>
All questions welcomed. 
</p>
<p>
By email:</p>

<a href="mailto:info@yourproblemshared.com" class="feature"><span>simon@yourproblemshared.com</span></a>

Or on twitter: 

<a href="http://twitter.com/urproblemshared" class="feature"><span>@urproblemshared</span></a>

</div>