<h1>Contact</h1>


<p>
Yourproblemshared.com is still in its very early days so there are bound to be a few problems. 
</p>
If you find any thing wrong please let us know.
</p>
<p>
If you have any problems or questions we would love to hear from you. The best way to get in contact is to email us at: 

<a href="mailto:info@yourproblemshared.com" class="feature"><span>info@yourproblemshared.com</span></a>

</p>