<h2>Contact</h2>

<div class="content">
<p>
Please feel free to contact me about any aspect of this site. 
</p>
<p>
My contact details are below:</p>

<a href="mailto:info@yourproblemshared.com" class="feature"><span>simon@yourproblemshared.com</span></a>

or on twitter 

<a href="http://twitter.com/urproblemshared" class="feature"><span>@urproblemshared</span></a>

</div>