<div class="alert">
	This email has been copied into cc@yourproblemshared.com and published here as a result. 

	If you would like to share your problems you can do the same.
</div>

	<%
	var c = mail.length;
	while(c--){
	%>
		<div id="email">
		<h2><%-unescape(mail[c].subject)%></h2>
		<div class="body"><%-encoder.htmlDecode(unescape(mail[c].htmlBody))%></div>
		</div>	<%	
	}
	%>
