<div class="alert">
	This email has been copied into cc@yourproblemshared.com and published here as a result. 

	If you would like to share your problems you can do the same.
</div>

<div id="email">
	<%
	var c = mail.length;
	while(c--){
		var a = encoder.htmlDecode(mail[c].htmlBody);
	%>
	<div class="body"><%-a%></div>
	<%	
	}
	%>
</div>