
<h1>Got a problem?</h1>
<h2> Making a complaint?</h2>
<h2> Copy us in at:</h2>
<a href="mailto:cc@yourproblemshared.com" class="feature"><span>cc@yourproblemshared.com</span></a>


<div class="content">
	<p>

	<b>and we will:<b/>
</p>
<ol>
<li>Publish your complaint <a href="/browse" title="browse problems">here</a> where others can read about your bad experience and might even be able to help you out!</li>

<li> Send an email to the company informing them that the complaint has been published.</li>
</ol>

</div>
     