
<h1> Making a complaint?</h1>

 
<div class="content">
	<h2> Copy us in:</h2>
	<a href="mailto:cc@yourproblemshared.com" class="feature"><span>cc@yourproblemshared.com</span></a>
	<p>
		<h2>and we will:</h2>
	</p>
	<ol>
		<li>Publish your complaint <a href="/browse" title="browse problems">here</a> where others can read about your bad experience and might even be able to help you out!</li>

		<li> Send an email to the company informing them that the complaint has been published.</li>
	</ol>
</div>
     