
<h2> Making a complaint?</h2>

 
<div class="content">
<p>
If your complaining by email and would like to share your problem online just <strong>copy in</strong>: 
</p>
	<a href="mailto:cc@yourproblemshared.com" class="feature"><span>cc@yourproblemshared.com</span></a>
	<p>
		<h2>and we will:</h2>
	</p>
	<ol>
		<li>Publish your complaint <a href="/browse" title="browse problems">here</a> where others can read about your bad experience.</li>
		<li> Send you an email confirming your complaint has been published.</li>
		<li> Send <a href="/sample">this email</a> to the company informing them that your complaint has been published.</li>
		<!--	<li>Publicise your complaint via our twitter and facebook pages so other people can learn from your bad experince.</li>-->
		<li>Collect and analyse these complaints so we can provide free data about which companies have the best and worst customer service.</li>
	</ol>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="fb-like" data-href="http://yourproblemshared.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://yourproblemshared.com" data-via="urproblemshared">Tweet</a>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=241417142565963";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




     