
<h1> Making a complaint?</h1>

 
<div class="content">
<p>
If your writing an email and would like to let the world know how badly you have been treated then <strong>copy in</strong>: 
</p>
	<a href="mailto:cc@yourproblemshared.com" class="feature"><span>cc@yourproblemshared.com</span></a>
	<p>
		<h2>and we will:</h2>
	</p>
	<ol>
		<li>Publish your complaint <a href="/browse" title="browse problems">here</a> where others can read about your bad experience and might even be able to help you out.</li>

		<li> Send an email to the company informing them that the complaint has been published.</li>
		<li>Publicize your complaint via our twitter and facebook pages so other people can learn from your bad experince.</li>
		<li>Collect and analyze these complaints so we can provide free data about which companies have the worst customer service.</li>
	</ol>
</div>
     