<h2>Browse</h2>
<p>
A list of the most recent email sent to cc@yourproblemshared.com
</p>
<div>

<%
console.log('urls', urls);
var c = data.length;
while(c--) {
		var email = data[c];
			%>
					<div class="email">
										<img src="/assets/img/email.png" width="100" class="floatRight">

			<a href="<%=urls.get('EMAIL', { id: email.id, company: email.company })%>">
			<h4><%=encoder.htmlDecode(unescape(email.subject))%></a> <i>(1 of 10)</i></h4>		
			<h5><%=encoder.htmlDecode(unescape(email.company))%></h5>
			<%-encoder.htmlDecode(unescape(email.textBody))%>

			</div>
<%
}
%>

</div>