@font-face {
font-family: ch;
src: local('Claire Hand')
}

@font-face {
font-family: ot;
src: local('Scuba OT')
}

@font-face {
font-family: fi;
src: local('ChunkFive')
}



body {
	background: url(/assets/img/45degreee_fabric.png);
}
#content {
font-family: ot;
	width: 700px;
}

.content {
		background: rgba(150,150,150, 0.1);
		padding: 15px;
		margin: 5px 0;

	border: 1px solid #eee;
}
p {
	font-face: helvetica;
}
h1 {
		font-family: fi;
	padding : 20px 0;
}
#email {
	padding: 10px;
	background: #fff;
	border: 1px solid #eee;

}
.email {

	background: url(/assets/img/email.png) rgba(150,150,150, 0.1);
	background-repeat: no-repeat;
	background-position: bottom right;
	height: 130px;
	margin: 10px 0;
	padding: 10px 20px;
	border: 1px solid #eee;
}

.feature {
	display:block;
	font-size:2em;
	margin:  30px 0;
}
.feature span {
	padding: 5px 50px;
	font-weight:bold;	
	text-decoration:none;
	border-radius: 5px;
	background: #fff;
	margin: 5px;
}
